.head {
    margin-left: 3rem;
 }

 .main {
     margin-left: 5rem;
     margin-top: 4rem;   
}

.a {
    font-size: 78rem;
}

.table {
    margin-left: 1rem; 
    border-radius: 2rem;
    border-width: 0.5rem;
    margin-top: 2rem;
    border-color: #F5F5F7;
    background-color: #F5F5F7;
    border-style: solid;
    width:90%;
}

.table .row {
    margin-left: 5rem;
    margin-top: 1.2rem;
       
}

u {
    text-decoration: none;
    border-bottom: 10px solid #8472F5;
    border-radius: 0.3rem;
}

.box {
    display: block;
    background-color: white;
    padding:1rem 3rem 1rem 3rem; 
    margin-top: 2rem;
    width:90%;
    height:100%;
    border-radius: 1rem;
    display: flex;

}
.expense {
    border-radius: 1.6rem;
    border-style:ridge;
    border-color: #D1D1D1;
    align-items: center;
    margin: auto;
    text-align: center;
    margin-left: 7rem;
  
}

.body {
    top:0;
}