body{
    height: 100%;
}
.container-fluid {
    background-color: #8472F5;
    color: white;
    height: 3rem;
    position:sticky;
    top:0;
    
}
h3 {
    font-weight: 500;
    padding-top: 0.5rem;
   
}
i {
    font-weight: 500;
    padding-top: 0.5rem;
    color :white;
    margin-left : 6rem;  
}