
<div class="head">
    <h3>All Expenses</h3>
</div>
<div class="main">
    <ul class="nav nav-tabs">
      <li role="presentation" routerLinkActive="active">
        <a routerLink="/dashboard/friends" style="color: #8F91A1; font-size: 1rem;" onMouseOver="this.style.color='#8472F5'" onMouseOut="this.style.color='#8F91A1'" >Friends</a>
        </li>&nbsp;&nbsp;&nbsp;&nbsp;
      <li role="presentation" routerLinkActive="active">
        <a routerLink="/dashboard/groups" style="color: #8F91A1; font-size: 1rem;" onMouseOver="this.style.color='#8472F5'" onMouseOut="this.style.color='#8F91A1'">Groups</a>
        </li>
    </ul>
    <router-outlet></router-outlet>
  </div>
